body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #FFF;
    background: linear-gradient(to right, rgb(201, 75, 75), rgb(75, 19, 79));;
}